body{
  font-family: 'Caveat Brush', cursive;
}
#navigation{
  text-align:right;
  font-size: 15px;
  width:100%;
  font-family: 'Caveat Brush', cursive;
}
#Contact_me{
  width: 100%;
  position:relative;
  bottom:0px;
  text-align: center;
  font-family: 'Caveat Brush', cursive;
}
#picture{
  display: block;
  left: 500px;
  font-family: 'Caveat Brush', cursive;
}
.Rectangle_box_1{
    height: 420px;
    width: auto;
    position: relative;
    text-align: center;
    font-family: 'Caveat Brush', cursive;
}
.Rectangle_box_2{
    height: 640px;
    width: auto;
    position: relative;
    text-align: center;
    font-family: 'Caveat Brush', cursive;
}
.Rectangle_box_3{
    height: 250px;
    width: auto;
    position: relative;
    text-align: center;
    font-family: 'Caveat Brush', cursive;
}
.Rectangle_box_4{
    height: 250px;
    width: auto;
    position: relative;
    text-align: center;
    font-family: 'Caveat Brush', cursive;
}
#profile-picture{
  background-image:url('../img/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
  font-family: 'Caveat Brush', cursive;
}

#TITLE_PAGE{
  font-size: 100px;
  -webkit-transform:scale(2,1);
  color:white;
}

.SECTION_TITLE{
  font-size: 50px;
}
#SOCAL_LAB_IMG{
  width: 350px;
  height: 100px;
}
#GA_LOGO{
  width: 500px;
  height: 100px;
}
#Bigger_icon{
  font-size: 40px;
};
#GA_container{
  width: 200px;
  height: 100px;
}
