
#header-image{
  width:100%;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 200px;
}
#about{
  height: 400px;
  width: 100%
}
.work_images{
  width:350px;
  height:100px;
}
#lab_doc{
  width: 150px;
  height: 150px;
}
#carouselExampleControls{
  width: 400px;
  height: 400px;
}
li{
  list-style-type: none
}
#contacts li{
  display: inline;
}
.space-boxes{
  margin-top: 25px;
  margin-bottom: 25px;
}
.word_boxes{
  height: 100px;
  width:760px;
}
#title-header{
  position: relative;
  text-align: center;
  color: white;
}
.Name{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  font-size: 80px;
}
.header{
  font-size: 37.5px;
}
.sub_header{
  font-size: 25px;
}
#potrait_photo{
  margin-bottom: 10px;
}
#resume_text{
  color:black;
}
.icon{
  font-size: 30px;
  color: black;
}
#icons{
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
}
#ALIGN_AWARDS{
  width: 50%;
  margin: 0 auto;
}
#EXPERIENCE{
  height: 100px;
  width:800px;
}
