.container{
  position: absolute;
  /*position's parent is the DOM*/
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 200px;
}
#name_presentation{
  text-align: center;

}
#learn_more_button{
  text-align: center;
  font-family: 'Caveat Brush', cursive;
  background-color: gray;
  border: white;
  height: 75px;
  width: 150px;
}
#learn_more{
  text-align: center;
}
#navigation{
  float: right;
  font-size: 15px;
}
body{
  font-family: 'Caveat Brush', cursive;
  background-image: url("https://static.interestingengineering.com/images/import/2016/04/circuit-arduino.jpeg");
}
#name{
  font-size: 40px;
  margin: 0;
}
#description{
  margin: 5px;
}
